html,
body {
  margin: 0;
  /* height: 200%; */
  width: 100%;
}

body {
  background-color: #f0ede4a6;
  min-height: 100%;
  font-family: 'Rozha One', serif;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  bottom: -14px;
  position: relative;
}

