html,
body {
  height: 100%;
  background-color: #f0ede4a6;
}

body {
  min-height: 100%;
  font-family: 'Rozha One', serif;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  bottom: -14px;
  position: relative;
}

